@font-face {
  font-family: "iconfont"; /* Project id 4574106 */
  src: url('iconfont.woff2?t=1719885464248') format('woff2'),
       url('iconfont.woff?t=1719885464248') format('woff'),
       url('iconfont.ttf?t=1719885464248') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhedie1:before {
  content: "\e621";
}

.icon-shangpin:before {
  content: "\e65b";
}

.icon-qita:before {
  content: "\e60b";
}

.icon-shanchu1:before {
  content: "\e60a";
}

.icon-daojishi:before {
  content: "\e671";
}

.icon-home1:before {
  content: "\e648";
}

.icon-daifahuo1:before {
  content: "\e614";
}

.icon-yiquxiao:before {
  content: "\e630";
}

.icon-trues:before {
  content: "\e666";
}

.icon-daiqianshou:before {
  content: "\e660";
}

.icon-home:before {
  content: "\e61c";
}

.icon-dingwei:before {
  content: "\e818";
}

.icon-daifahuo:before {
  content: "\e68d";
}

.icon-daishouhuo:before {
  content: "\e690";
}

.icon-daifukuan:before {
  content: "\e63f";
}

.icon-yiwancheng:before {
  content: "\e609";
}

.icon-shouji:before {
  content: "\e608";
}

.icon-saomiao:before {
  content: "\e8d4";
}

.icon-shanchu:before {
  content: "\e612";
}

.icon-dianzan:before {
  content: "\e607";
}

.icon-tuijianchanpin:before {
  content: "\e645";
}

.icon-31daipingjia:before {
  content: "\e604";
}

.icon-shoucang:before {
  content: "\e605";
}

.icon-qizi:before {
  content: "\e651";
}

.icon-pinpaizhuye:before {
  content: "\e64d";
}

.icon-dian:before {
  content: "\ec1e";
}

.icon-jiantou:before {
  content: "\e60c";
}

.icon-arrow-right-copy:before {
  content: "\e603";
}

.icon-jiantou1:before {
  content: "\e663";
}

.icon-jiantoushang:before {
  content: "\e619";
}

.icon-gouwuchekong:before {
  content: "\e600";
}

.icon-xinlangweibo:before {
  content: "\e601";
}

.icon-gouwucheman:before {
  content: "\e602";
}

.icon-wuliukuaidi:before {
  content: "\e616";
}

.icon-yonghu:before {
  content: "\e649";
}

.icon-kefu:before {
  content: "\ec2e";
}

.icon-wentifankui:before {
  content: "\e617";
}

.icon-gongzhonghao:before {
  content: "\e653";
}

.icon-jiagebianyi:before {
  content: "\e6a6";
}

.icon-pinzhihaowu:before {
  content: "\e606";
}

